.task {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto 24px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px 16px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #F1EFFA;

  &__delete {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFE;
    border-radius: 4px;
    height: 32px;
    padding: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #787996;
    outline: none;
    cursor: pointer;
    border: 1px solid #F1EFFA;
    text-decoration: none;

    &:hover,
    &:focus {
      background: #F1EFFA;
    }
  }
}
