html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 30px;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #122947;
  background: #e7e8e6;
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

h1,
h2,
p {
  color: #202223;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 20px;
}
